<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>


<% profile_pic_url = @post.author.picture_url%>
<img class = "profpic" src="<%= profile_pic_url %>" alt="User's profile picture">
Body: <%= @post.body %><br>
By: <%= @post.author.display_name %><br>

<br>

<% if @likes.any? %>
  This post has <%= @like_count %> likes. <br>
  Liked by the following users: <br>
  <% @likes.each do |like| %>
    <%= like.liker.display_name %> <br>
  <%end%>
<%else%>
    Nobody likes this post.
<%end%>

<% if @likes.exists?(user_id: current_user.id) %>
  <%= button_to "Unlike", post_like_path(@post, current_user), method: :delete %>
<% else %>
  <%= button_to "Like", post_likes_path(@post)%>
<% end %>

<br>
Comments: <br>
<% if @comments.any? %>
  <% @comments.each do |comment| %>
    <%= comment.commentator.display_name %> says <%= comment.body %><br>
    <% if comment.commentator == current_user %>
      <%= button_to "Delete", comment_path(comment), method: :delete %>
    <% end %>
  <%end%>
<%else%>
    Nobody has commented yet. Be the first!
<%end%>

<br>

<div data-controller="toggle"
  data-toggle-primary-class="hidden">
  <div data-toggle-target="button">
  <% post = @post.id %>
  <%= form_with model: @comment do |f| %>
    <%= f.hidden_field :post_id, value: post%> 
    <%= f.label :body %> 
    <%= f.text_field :body %> <br>

    <%= f.submit "Add Comment" %>
    
  <% end %>
  <button data-toggle-target="button" data-action="toggle#clicked">
    Undo
  </button>
  </div>

  <button data-toggle-target="button2" data-action="toggle#clicked">
    Add Comment
  </button>
</div>